body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper-container {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.container {
  display: flex;
  padding: 10px;
}

.container-no-padding {
  display: flex;
}

.column {
  flex-direction: column;
}

.center-align-box {
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.separate {
  justify-content: space-evenly;
}

.left {
  align-items: left;
}

.right {
  align-items: right;
}
